
/* #### Text
- Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
- Moderate Violet (chat on the left): hsl(276, 55%, 52%)
- Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
- Grayish Blue (placeholder text): hsl(206, 6%, 79%)
- Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
- Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)

#### Gradients
These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:
- Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%)

### Secondary
- White: hsl(0, 0%, 100%)
- Light Grayish Violet (app background): hsl(270, 20%, 96%)
- Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
- Very Light Magenta (radio button outline): hsl(289, 100%, 72%)
 */

body{
    font-family: 'Rubik', sans-serif;
    background-color:hsl(300, 6%, 90%) ;
    margin: 0;
    padding: 0;
}

.leftAside{
   background-color:hsl(264, 100%, 61%); 
   width: 25vw;
   height: 85vh;
   border-bottom-left-radius:  150px;
   border-bottom-right-radius: 150px;
   display: inline-block;
   z-index: -1;
   opacity: 0.9;
}

.rightAside{
    background-color:hsl(293, 100%, 63%); 
    opacity: 0.2;
   width: 25vw;
   height: 85vh;
   border-top-left-radius:  150px;
   border-top-right-radius: 150px;
   display: inline-block;
   position: relative;
   top: 15vh;
   left: 49.5vw;
   z-index: -1;
   
}

/*****text area***********************/
.text{
    position: relative;
    display: inline-block;
    bottom: 190px;
    height: 200px;
    width: 480px;
}
h1{
font-weight: 700;
font-size: 1.9rem;
color: hsl(271, 36%, 24%);
margin-left: 22px;
}
.msg{
font-size: 1rem;
font-weight: 400;
 color:hsl(270, 7%, 64%) ;
 line-height: 26px;
}

/*phone***************************/

.framePhone{
    display: inline-block;
    position: absolute;
    left: 23%;
    bottom: 80px;
    height: 550px;
    width: 288px;
    border-radius: 30px;
    border: 10px solid white;
    background-color: hsl(270, 20%, 96%) ;
}

.obal{
    background-color: white;
    display: inline-block;
    position: relative;
    left: 70px;
    bottom: 5px;
    height: 26px ;
    width: 150px ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:0;
    z-index: 1;
}

.topPhone{
    background-color: hsl(264, 100%, 61%);
    display: inline-block;
    position: relative;
    left: 0vw;
    bottom: 31px;
    height: 90px ;
    width: 287px;
    border-top-left-radius:   20px;
    border-top-right-radius:  20px;
    border:0;
    font-size: 9px;
    color: white;
    z-index: 0;
    display: flex;
    align-items: baseline;
    justify-content: end;
}
.avatar{
    display: inline-block;
    position: relative;
    top: 28px;
    left: 5px;
    width: 15%;
    border-radius: 50%;
    border: 2px solid white;
    
}
.arrow{
    display: inline-block;
    position: relative;
    top: 15px;
    margin-left: 10px;
    font-size: 18px;
}
.nameAvailable{
    display: inline-block;
    position: relative;
    top: 3px;
    left: 20px;
    font-size: 12px;
    color: rgb(226, 224, 224);
}
.name{
    font-size: 18px;
    color: honeydew;
    margin-bottom: 0;
}
.available{
    margin-top: 5px;
}

/*text area*******************/
.firstMsg{

}
.msgLeft{
    color:hsl(276, 55%, 52%) ;
    background-color: hsl(206, 6%, 79%);
    height: 36px;
    width: 170px;
    border:0;
    border-radius: 10px;
    border-bottom-left-radius:0px ;
    margin-left: 7px;
    line-height: 15px;
    font-size: 10px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
p{
    margin: 0;
    margin-left: 22px;
    font-weight: 500;
}
.secondMsg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.imgDog{
 width: 16%;
 border-radius: 7px;
 margin-top: 8px;
 display: inline-block;
 position: relative;
 left:130px ;
}
.msgRight{
    color:hsl(276, 55%, 52%) ;
    background-color: hsl(0, 0%, 99%);
    height: 36px;
    width: 170px;
    border:0;
    border-radius: 10px;
    border-bottom-right-radius:0px ;
    margin-left: 7px;
    line-height: 15px;
    font-size: 10px;
    margin-top: 10px;
    margin-right: 7px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.msgLeftPrice{
    color:whitesmoke ;
    background-color: hsl(264, 100%, 61%);
    height: 36px;
    width: 170px;
    border:0;
    border-radius: 10px;
    border-bottom-left-radius:0px ;
    margin-left: 7px;
    line-height: 15px;
    font-size: 10px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.price{
    font-size: 10px;
}
.o{
font-size: 20px;
font-weight: 400;
color: rgb(92, 90, 90);
margin-right: 7px;
}
.numPrice{
    margin-left: 4px;
    font-size:14px ;
font-weight: 600;
}

.send{
    color:grey ;
    background-color: white;
    height: 36px;
    width: 270px;
    border:0;
    border-radius: 10px;
    margin-left: 7px;
    line-height: 15px;
    font-size: 10px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.btn{
    font-size:12px ;
background-color: hsl(264, 100%, 61%);
height:25px;
width: 25px;
border:0;
border-radius: 50%;
position: absolute;
bottom: 11px;
right: 20px;
}