<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
  <title>Chatt App Presentation</title>

</head>
<body>
<aside class="leftAside">
</aside>
<aside class="rightAside">
</aside>
  
<section class="text">
<h1>Simple booking</h1>
<div class="msg">
  <p>Stay in touch with our dog walkers through the chat</p>
  <p> interface.This makes it easy to discuss arrangements and </p>
  <p>make bookings. Once the walk has been completed you can </p>
  <p>rate your walker and book again all through the chat.</p>
</div>
</section>
 
<main class="framePhone">
  <div class="obal"></div>

  <div class="topPhone">
  <p class="arrow"><</p>
<img src="../images/avatar.jpg" alt="" class="avatar">
<div class="nameAvailable">
<p class="name">Samuel Green</p>
<p class="available">Available to Walk</p>
</div>
</div>

<div class="firstMsg">
<div class="msgLeft">
<p>That sounds great.</p>
<p>I’d be happy with that.</p>
</div>
<div class="msgLeft">
<p>Could you send over some</p>
<p>pictures of your dog, please?</p>
</div>
</div>

<div class="secondMsg">
  <div class="dog">
  <img src="../images/dog-image-1.jpg" alt="" class="imgDog">
  <img src="../images/dog-image-2.jpg" alt="" class="imgDog">
  <img src="../images/dog-image-3.jpg" alt="" class="imgDog">
</div>
<div class="msgRight">
<p>Here are a few pictures.</p>
<p>She’s a happy girl!</p>
</div>
<div class="msgRight">
<p>Can you make it?</p>
</div>
</div>

<div class="thirtMsg">
  <div class="msgLeft">
    <p>She looks so happy!</p>
    <p>How long shall I take her out?</p>
    </div>
  <div class="msgLeftPrice" >
    <p class="price"><span class="o">o</span> 30 minute walk <span class="numPrice">$29</span></p>
    </div>
  <div class="msgLeftPrice">
    <p class="price"><span class="o">o</span>1 hour walk <span class="numPrice">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$49</span></p>
    </div>
</div>

<div class="send">
  <p>Type a message… <span class="btn"></span></p>
</div>

</main>

</body>
</html>